*{
    margin: 0;
    padding: 0;
}


body{
    background-image: url(/pictures/anders-jilden-AkUR27wtaxs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 


#title{
    color:#fff
}


.intro{
    position: relative;
    top:80px;
    font-size: 60px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: 10s intro;
    animation-duration: 10s;
    opacity: 0.7;
}


@keyframes intro{
    from{
        opacity:0.1;
    }
    to{
        opacity: 0.7;
    }
}


.quote{
    position: relative;
    top:220px;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: 	#ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    animation: 5s quote;
    animation-duration: 5s;
    opacity: 0.4;
}


@keyframes quote{
    from{
        opacity:0.1;
    }
    to{
        opacity: 0.4;
    }
}

.navmenu{
    display:flex;
    justify-content: space-around;
}


.navmenu li {
    list-style: none;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 1px;
}


.navmenu li a{
    text-decoration: none;
    color: black;
    
}


.mainmenu{
    position: relative;
    top:13px;
}


#about.mainmenu{
    position: relative;
    left:5px;
}


#services.mainmenu{
    position: relative;
    left:10px;
}


#contact.mainmenu{
    position: relative;
    left:2px;
}


.navmenu li a:hover, a.active{
    color:white;
    border-bottom: 3px solid #fff;
}


.dropdown{
    visibility:hidden;
}


.navmenu li:hover .dropdown{
    visibility: visible;
}


.dropdown li{
    padding: 8px 2px;
    position: relative;
    top:20px;
    text-align: center;
    /* background-color: gray;
    border: 1px solid black; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dropdown li a:hover{
    border-bottom: none;
}

.contact-dropdown{
    visibility: hidden;
}


.navmenu li:hover  .contact-dropdown{
    visibility: visible;
}


.contact-dropdown li{
    padding: 8px 2px;
    position: relative;
    top: 15px;
    /* background-color: grey;
    border: 1px solid black; */
}


footer .footer{
    height:70px;
    left:0;
    top:12cm;
    width: 100%;
    /* background-color: #232323; */
    position: relative;
    align-items: right;
   }


.foot_list{
     display: flex;
     justify-content: space-between;
     width:100%;
 }  


.foot_list{
     font-family:  "Montserrat", Arial;
     font-size: 12px;
     list-style: none;
     position: relative;
     top:40%
     /* padding: 30px; */


 }

.foot_list li a{
     text-decoration: none;
     color:#fff;
     letter-spacing: 0.5;
 }


#discord.social:hover{
    color:#5865F2;
}


#instagram.social:hover{
    background-image: linear-gradient(#405DE6,#5B51D8,#833AB4,#C13584,#FD1D1D,#F56040,#F77737,#FCAF45,#FFDC80);
  -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;

}


#twitter.social:hover{
    color:#1DA1F2
}


#github.social:hover{
    color:#6e5494;
}

